.search {
    width: 80px;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 30px;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: 10px 10px 10px;
    transition: width 0.4s ease-in-out;
    background-color: white;
    margin-bottom: 5px;
}

.search:focus {
    width: 85%;
}


.input-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 254px;
    left: 32px;
    color: black;
}

select {
    padding: 7px;
    background-color: lightgray;
    border: 1px solid #0c8461;
    width: 100%;
}

input[type=text] {
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid #0c8461;
    box-sizing: border-box;
}

input[type=text]:focus {
    background-color: #177c67;
    outline-color: none;
    border-style: solid;
    color: white;
    border: 2px solid #177c67;

}

input::placeholder {
    color: grey !important;
    opacity: 1;
}

input[type=password] {
    border-radius: 5px;
    background-color: lightgray;
    border: 1px solid #0c8461;
}

input[type=password]:focus {
    background-color: #0c8461;
    outline-offset: none;
    color: white;
}

input[type=date] {
    border-radius: 5px;
    background-color: lightgray;
    border: 1px solid #0c8461;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 0;
}

input[type=date]:focus {
    border-radius: 5px;
    color: white;
    border: 1px solid #0c8461;
    width: 100%;
    height: 100%;
}

textarea[type=text]::placeholder {
    color: grey;
    opacity: 1;
}

textarea[type=text] {
    border-radius: 5px;
    background-color: lightgray;
    text-decoration-color: black;
    border: 1px solid #0c8461;
    box-sizing: border-box;
    color: black;
    outline: none;
}

textarea[type=text]:focus {
    background-color: #177c67;
    border: none;
    color: white;
}

p#texto {
    text-align: center;
    color: white;
}

div#input-file {
    position: relative;
    margin: 18px;
    padding: 4px;
    width: 190px;
    height: 30px;
    background-color: #177c67;
    border-radius: 5px;
    cursor: pointer;
}

div#input-file:hover {
    background-color: #0e5244;
}

input#imagen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.request {
    margin-top: 15px;
    margin-bottom: 15px;
    left: 300px;
}
